<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Login do Portal</h2>
    <form method="post">
        <label>Usuário:</label><br>
        <input type="text" name="nome_login"><br><br>
        <label>Senha:</label><br>
        <input type="password" name="pass_login"><br><br>
        <button type="submit">Entrar</button>
    </form>

    {% if erro %}
        <p style="color: red;">{{ erro }}</p>
    {% endif %}
</body>
</html>
